#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    text-transform: uppercase;

    .header__inner {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(100px);
        padding: 0rem 1.3rem 0 1rem;

        .header__img {
            width: 10%;

            img {
                width: 89px;
                height: 82px;
                // margin-left: -px;
            }
        }
        .header__logo {
            width: 40%;
            display: flex;
            padding-top: 3.2rem;
            h4 {
                font-family: "Josefin Slab";
                font-size: 1.5rem;
                font-weight: 600;
                padding-right: 3rem;
            }
            p {
                font-size: 0.88rem;
                font-weight: 400;
                line-height: 38px;
            }
        }

        .header__nav {
            width: 50%;
            padding-top: 3.2rem;
            display: flex;
            justify-content: flex-end;

            ul {
                display: flex;
                li {
                    padding: 0 1.5rem 0 1.5rem;

                    a {
                        font-size: 0.9rem;
                        position: relative;
                        padding: 0.3rem;
                        transition: all 0.2s;

                        &:before {
                            content: "";
                            position: absolute;
                            width: calc(100% - 9px);
                            height: 2px;
                            background-color: var(--black600);
                            left: 7%;
                            bottom: 0%;
                            transform: scaleX(0);
                            transition: all 0.3s;
                        }
                        &:hover {color: var(--black600);}
                        &:hover::before {
                            transform: scaleX(1);
                        } 
                    }
                }
            }
        }
        .header__nav__mobile {
            width: 40px;
            height: 40px;
            cursor: pointer;
            display: none;
            span {
                display: block;
                width: 40px;
                height: 2px;
                background-color: var(--black600);
                margin-top: 38px;
                
                position: relative;
                transition: width 0.3s;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    width: 40px;
                    height: 2px;
                    background-color: var(--black600);
                    right: 0;
                    transition: width 0.3s;
 
                }
                &::before {
                    top: 6px;
                }
                &::after {
                    top: 12px;
                }
            }
        }
    }
    
@media (max-width: 1000px) {
    .header__nav {
        display: none;
    }
    /* block 상태는 애니메이션을 못줌  */
    .header__nav.show {
        display: block;
    }

    .header__nav.show ul {
        display: block;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: var(--white400);
        z-index: 1000;
        min-width: 159px;
        padding: 20px 0;
    }

    .header__nav.show li {
        display: block;
        text-align: right;
    }

    .header__nav.show li:hover {
    }

    .header__nav.show li a {
        display: inline-block;
        padding: 10px;
    }
    .header__nav.show + .header__nav__mobile span::before {
        width: 20px;
    }
    .header__nav.show + .header__nav__mobile span::after {
        width: 20px;
    }
    .header__nav__mobile {
        display: block;
    }
}
}
// .header__logo {
//     width: 30%;
//     display: flex;
//     justify-content: space-between;
//     align-items: end;
//     img {
//         width: 89px;
//         height: 82px;
//     }
//     h4 {
//         display: inline-block;
//     }
//     p {
//         display: inline-block;
//     }
// }
// .herader__nav {
//     width: 70%;
//     .menu {
//         display: flex;
//         justify-content: flex-end;
//         li {
//             padding: 4.5rem 1rem 0 1rem;
//         }
//     }
// }
