#slide {
    padding-top: 400px;
    .slider__wrap {
        width: 100%;
        display: flex;
        overflow: hidden;
        .slider {
            border-radius: 20px;
            img {
                // width: 853px;
                // height: 504px;
                width: 44.5vw;
                height: 26.3vw;
                margin-right: 30px;
            }
        }
    }
}
